h1 {
    padding: 10px 0px 20px 0px;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

#my-photo {
    width: 250px;
}

div#main-content p, li{
    font-size: 1.3rem;
}
      
div#main-content p.label {
    font-weight: bold;
    color:#F50000;
    font-size: large;
}

td {
    padding: 3px 10px;
    font-size: 1.2rem;
}

ul#sosmed-list {
    list-style: none;
}

a.sosmed {
    text-decoration: none;
}

img.sosmed-logo {
    width: 20px;
    margin-right: 10px;
}

