#accordion {
    margin-top: 50px;
}

#accordion h3, #accordion .section div {
    display: inline-block;
    vertical-align: middle;
}

#accordion h3 {
    padding-right: 50px;
}

.move-icon {
    width: 50px;
    padding: 10px;
}

div, li {
    font-size: 1.5rem; !important
}

div.section {
    background-color: #F7D126;
    color: #F50000;
}

#accordion > div {
    border-color: #F50000;
}