{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% if user.is_authenticated %}
  <title>Welcome {{ user.get_username }}</title>
{% else %}
  <title>Welcome Page</title>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/story9_styles.css' %}">
{% endblock meta %}

{% block header %}
    <header class="w-100">
        <nav class="navbar navbar-inverse navbar-expand-sm font-weight-bolder mb-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main:home' %}">Shafira Profile</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'story9:index' %}">Home</a></li>
                    <li><a href="{% url 'story8:search' %}">Search Book</a></li>
                </ul>

                {% if user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li>
                      <i class="fa fa-user-circle"></i> Halo, {{ user.get_username }}
                    </li>
                    <li><a href="{% url 'story9:logOut' %}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto">
                    <li><a href="{% url 'story9:signUp' %}">
                        <i class="fa fa-user-circle"></i> Sign Up
                    </a></li>
                    <li><a href="{% url 'story9:logIn' %}">
                        <i class="fa fa-sign-in"></i> Login
                    </a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
{% endblock header %}

{% block content %}
<div class="container-fluid" id="main-content">
    {% if user.is_authenticated %}
    
    <h1 class="font-weight-bolder mb-5">Welcome {{ user.get_username | capfirst }}</h1>
    <div class="content">
        <p>Halo. Selamat datang, {{ user.get_username }}.</p>
        <p>Salam kenal.  Selamat bersenang-senang di website ini.</p>
    </div>
    {% else %}
    <h1 class="font-weight-bolder mb-5">Welcome</h1>
    <div class="content">
        <p>Halo. Selamat datang di website ini.</p>
        <p>Yuk masuk ke akunmu agar aku bisa menyapamu.</p>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/story9_scripts.js' %}"></script>
{% endblock scripts %}