{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Log In</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story9_styles.css' %}">
{% endblock meta %}

{% block header %}
    <header class="w-100">
        <nav class="navbar navbar-inverse navbar-expand-sm font-weight-bolder mb-0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'main:home' %}">Shafira Profile</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'story9:index' %}">Home</a></li>
                    <li><a href="{% url 'story8:search' %}">Search Book</a></li>
                </ul>

                {% if user.is_authenticated %}
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <i class="fa fa-user-circle"></i> Halo, {{ user.get_username }}
                    </li>
                    <li><a href="{% url 'story9:logOut' %}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav ml-auto">
                    <li><a href="{% url 'story9:signUp' %}">
                        <i class="fa fa-user-circle"></i> Sign Up
                    </a></li>
                    <li class="active"><a href="{% url 'story9:logIn' %}">
                        <i class="fa fa-sign-in"></i> Login
                    </a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
{% endblock header %}

{% block content %}
<div class="container-fluid" id="main-content">

    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">


                <h3 id="form-title">Log In</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" placeholder="Username..." class="form-control">
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control" >
                    </div>

                        <div class="d-flex justify-content-center mt-3 login_container">
                             <input class="btn login_btn" type="submit" value="Log In">
                           </div>
                </form>
            </div>
            <div>
                {% for message in messages %}
                <p id="messages">{{message}}</p>
                {% endfor %}
            </div>
    
            <div class="mt-4">
                <div class="d-flex justify-content-center links">
                    Don't have an account? <a href="{% url 'story9:signUp' %}" class="ml-2">Sign Up</a>
                </div>
        
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/story9_scripts.js' %}"></script>
{% endblock scripts %}