{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile Shafira</title>
<link rel="stylesheet" href="{% static 'css/story7_styles.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock meta %}


{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder">My Profile</h1>

    <div id="accordion">
        <div class="section" id ="acc1">
            <h3 class="my-auto">Aktivitas Saat Ini</h3>
            <div>
                <img class="move-icon up " src="{% static 'img/arrow-up.png' %}">
                <img class="move-icon down" src="{% static 'img/arrow-down.png' %}">
            </div>
        </div>
        <div>
            <p>Aktivitas saya saat ini adalah menjadi seorang mahasiswa di jurusan Ilmu Komputer dan saya juga mengikuti salah satu organisasi di universitas saya</p>
        </div>
        <div class="section" id ="acc2">
            <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
            <div>
                <img class="move-icon up " src="{% static 'img/arrow-up.png' %}">
                <img class="move-icon down" src="{% static 'img/arrow-down.png' %}">
            </div>
        </div>
        <div>
            <ul>
                <li>Staff Humas FUKI 2020</li>
                <li>Comming soon</li>
            </ul>
        </div>
        <div class="section">
            <h3>Prestasi</h3>
            <div>
                <img class="move-icon up " src="{% static 'img/arrow-up.png' %}">
                <img class="move-icon down" src="{% static 'img/arrow-down.png' %}">
            </div>
        </div>
        <div>
          <p>Coming soon</p>
        </div>
        <div class="section">
            <h3>Hobi</h3>
            <div>
                <img class="move-icon up " src="{% static 'img/arrow-up.png' %}">
                <img class="move-icon down" src="{% static 'img/arrow-down.png' %}">
            </div>
        </div>
        <div>
            <ul>
                <li>Menonton Film</li>
                <li>Membaca Buku</li>
            </ul>
        </div>
    </div>
        
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/story7_jquery.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
{% endblock scripts %}