{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Peserta</title>
{% endblock meta %}


{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder">Tambah Peserta</h1>
    <div>
        <a class="btn" href="{% url 'story6:viewKegiatan' %}">Kembali</a>
    </div>

    <div class="content ">
        <form method="POST"">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-default btn">Save</button>
        </form>
    </div>
</div>

{% endblock content %}