{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile Shafira</title>
{% endblock meta %}


{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder">Daftar Kegiatan</h1>
    <div>
        <a class="btn" href="{% url 'story6:addKegiatan' %}">Tambah Kegiatan</a>
        <a class="btn" href="{% url 'story6:addPeserta' %}">Tambah Peserta</a>
    </div>

    <div class="content">
        <div class="row row-cols-1 row-cols-lg-3">
            {% if daftarKegiatan %}
            {% for kegiatan in daftarKegiatan %}
            <div class="col mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bolder">{{kegiatan.nama_kegiatan}}</h5>
                        <p class="card-text">Peserta:</p>
                    </div>
                    <div class="card-footer">
                        <!-- <a class="btn" href="{% url 'story6:addPeserta' kegiatan.id %}">Tambah Peserta Kegiatan</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}