{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile Shafira</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}


{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder">Profile Saya</h1>

    <img id="my-photo" src="{% static 'img/my-photo.jpg' %}"><br>
    <p class="label">Nama</p>
    <p>Shafira Putri Novia Hartanti</p>
    <p class="label">NPM</p>
    <p>1906293316</p>
    <p class="label">Angkatan</p>
    <p>2019</p>
    <p class="label">Tempat kuliah</p>
    <p>Universitas Indonesia</p>
    <p class="label">Hobi</p>
    <p>Mendengarkan musik, menonton film</p>
    <p class="label">Deskripsi tentang saya</p>
    <p>Saya merupakan seorang mahasiswa jurusan ilmu komputer angkatan 2019 di Fasilkom UI.</p>

    <p class="label">Riwayat pendidikan</p>
    <table>
        <tr>
            <td>Tahun 2007-2013</td>
            <td>SDN Rawasari 05 Pagi</td>
        </tr>
        <tr>
            <td>Tahun 2013-2016</td>
            <td>SMPN 77 Jakarta</td>
        </tr>
        <tr>
            <td>Tahun 2016-2019</td>
            <td>SMAN 68 Jakarta</td>
        </tr>
        <tr>
            <td>Tahun 2019-Sekarang</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>

    <p class="label">Sosial Media</p>
    <ul id="sosmed-list">
        <li>
            <a class="sosmed" href="https://www.instagram.com/shafiranv/">
                <img class="sosmed-logo" src="{% static 'img/instagram-logo-black.png' %}"> @shafiranv
            </a>
        </li>
        <li>
            <a class="sosmed" href="http://line.me/ti/p/~firanv">
                <img class="sosmed-logo" src="{% static 'img/line-logo-black.png' %}"> firanv
            </a>
        </li>
    </ul>
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>

</div>

{% endblock content %}