{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>About Shafira</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
  <h1 class="font-weight-bolder" id="title-page">ABOUT ME</h1>
  <div class="content row">
      <div class="col-md-4 my-auto">
          <img class="mw-100" src="{% static 'img/my-photo.jpg' %}">
      </div>
      <div class="col-md-8 my-auto pt-5 pt-md-0 pl-md-5 text-center text-md-left" id="description">
          <p>Halo semuanya!<br>
              Perkenalkan nama saya Shafira Putri Novia Hartanti. Kalian bisa panggil saya Shafira. Saya merupakan seorang mahasiswa jurusan Ilmu Komputer di Universitas Indonesia. 
              Saya bertempat tinggal di di Jakarta, tepatnya di daerah Cempaka Putih. Saya memiliki hobi menonton film, khususnya yang bergenre action, komedi ataupun keduanya.
              Saya juga hobi mendengarkan musik dan membaca buku. Mau tahu lebih banyak tentang hobi saya? 
              <a href="{% url 'main:myHobbies' %}">Klik di sini</a>. 
          </p>
      </div>
  </div>
</div>
{% endblock content %}
