{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Contact</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder text-center" id="title-page">CONTACT ME</h1>
    <div class="content justify-content-center d-flex">
        <ul id="socmed-list">
            <li class="d-flex align-items-center">
                <a href="mailto:shafiraputri1001@gmail.com">
                    <img class="socmed-logo mr-4 mr-md-5" src="{% static 'img/email-logo.png' %}">
                </a>
                <a href="mailto:shafiraputri1001@gmail.com">
                    shafiraputri1001@gmail.com
                </a>
            </li>
            <li class="d-flex align-items-center">
                <a href="https://www.instagram.com/shafiranv" target="_blank">
                    <img class="socmed-logo mr-4 mr-md-5" src="{% static 'img/instagram-logo.png' %}">
                </a>
                <a href="https://www.instagram.com/shafiranv" target="_blank">
                    shafiranv
                </a>
            </li>
            <li class="d-flex align-items-center">
                <a href="https://www.linkedin.com/in/shafira-putri-n-h" target="_blank">
                    <img class="socmed-logo mr-4 mr-md-5" src="{% static 'img/linkedin-logo.png' %}">
                </a>
                <a href="https://www.linkedin.com/in/shafira-putri-n-h" target="_blank">
                    Shafira Putri Novia Hartanti
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="mx-auto">
    Icons made by <a href=https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> 
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
</div>
{% endblock content %}