{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder" id="title-page">DETAIL MATA KULIAH</h1>
    <div>
        <a class="btn" href="{% url 'main:viewMataKuliah' %}">Kembali</a>
    </div>
    
    <div class="content" id ="detail-matkul">
        <h3 class="font-weight-bolder border-b"> {{ mataKuliah.nama_matkul }} </h3>
        <p class="label">Dosen Pengajar</p>
        <p>{{ mataKuliah.dosen_pengajar }}</p>
        <p class="label">Jumlah SKS</p>
        <p>{{ mataKuliah.jumlah_sks }}</p>
        <p class="label">Deskripsi</p>
        <p>{{ mataKuliah.deskripsi }}</p>
        <p class="label">Semester</p>
        <p>{{ mataKuliah.semester }}</p>
        <p class="label">Ruang Kelas</p>
        <p>{{ mataKuliah.ruang_kelas }}</p>
    </div>
</div>
{% endblock content %}