{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Get To Know Shafira</title>
<style>
    #page {
        background: url('/static/img/jumbotron-background.jpg') center center fixed;
        background-size: auto 100vh;
        color:  #F50000;
    }
</style>
{% endblock meta %}

{% block header%}
<header class="w-100">
    <nav class="navbar p-0 navbar-expand-sm font-weight-bolder justify-content-center text-center text-lg-left">
        <ul class="navbar-nav">
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'story1:home' %}">Profile</a>
            </li>
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'main:aboutMe' %}">About Me</a>
            </li>
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'main:viewMataKuliah' %}">Mata Kuliah</a>
            </li>
            <!-- <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'story6:viewKegiatan' %}">Kegiatan</a>
            </li> -->
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'story7:profile' %}">Story 7</a>
            </li>
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'story8:search' %}">Story 8</a>
            </li> 
            <li class="nav-item pl-2 pl-md-5">
                <a class="nav-link" href="{% url 'story9:index' %}">Story 9</a>
            </li> 
        </ul>
    </nav>
</header>
{% endblock header%}

{% block content %}
<div class="container-fluid my-auto" id="homepage">
    <div class="container-fluid text-center  min-vh-90 p-5">
        <h1 class="font-weight-bolder display-3">Hello,</h1>
        <h1 class="font-weight-bolder display-3">I'm Shafira</h1>
        <p>Welcome to my website!</p>
        <a class="btn" href="{% url 'main:aboutMe' %}">Get to know me here</a>
    </div>
    
    <div class="text-center pr-3 pb-3 credits">
        Image by Susanne Jutzeler from Pexels
    </div>
</div>
{% endblock content %}
