{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Shafira's Hobbies</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder" id="title-page">MY HOBBIES</h1>
    <div class="content ">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder">Membaca Buku</h5>
                  <p class="card-text">Saya suka membaca buku novel. Novel yang sering saya baca biasanya bergenre <i>romance</i> atau <i>mystery</i>. Beberapa penulis novel kesukaan saya adalah Lexie Xu dan Luna Torashyngu.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder">Menonton Film</h5>
                  <p class="card-text">Saya sangat suka menonton film, terutama film yang bergenre <i>action</i>, komedi, ataupun keduanya. </p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bolder">Mendengarkan Musik</h5>
                  <p class="card-text">Ketika saya sedang bosan dengan sesuatu, saya sering mendengarkan musik. Mendengarkan musik dapat membuat mood saya meningkat dan saya menjadi lebih bersemangat. Salah satu grup favorit saya adalah Day6.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}