{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Shafira's Journey</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder" id="title-page">MY JOURNEY</h1>
    <div class="row content">
        <div class="col-md text-center text-md-right border-md-right-1 pt-4 pr-md-5">
            <h2 class="font-weight-bolder">Education</h2>
            <ul class="my-journey">
                <li>
                    <span>2016 - 2019</span><br><span class="font-weight-bolder">SMA Negeri 68 Jakarta</span>
                </li>
                <li>
                    <span>2019 - Sekarang</span><br><span class="font-weight-bolder">Universitas Indonesia</span>
                </li>
            </ul>
        </div>
        <div class="col-md text-center text-md-left border-md-left-1 pt-4 pl-md-5">
            <h2 class="font-weight-bolder">Personal Experience</h2>
            <ul class="my-journey">
                <li>
                    <span>2020 - Sekarang</span><br><span class="font-weight-bolder">Staff Humas FUKI 2020</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
