{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder" id="title-page">REMOVE MATA KULIAH</h1>
    <div>
        <a class="btn" href="{% url 'main:viewMataKuliah' %}">Kembali</a>
    </div>

    <div class="content ">
        <ul>
            {% for mataKuliah in daftarMataKuliah %}
            <li>
                <a href="{% url 'main:detailMatkul' mataKuliah.id %}">{{ mataKuliah.nama_matkul }}</a>
                <a href="{% url 'main:removeMatkul' mataKuliah.id %}" class="btn btn-primary">Hapus</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}