{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid" id="main-content">
    <h1 class="font-weight-bolder" id="title-page">LIST MATA KULIAH</h1>
    <div>
        <a class="btn" href="{% url 'main:addMataKuliah' %}">Tambah Mata Kuliah</a>
        <a class="btn" href="{% url 'main:removeMataKuliah' %}">Hapus Mata Kuliah</a>
    </div>

    <div class="content ">
        {% if daftarMataKuliah %}
        <ul>
            {% for mataKuliah in daftarMataKuliah %}
            <li class="mb-3"> <a href="{% url 'main:detailMatkul' mataKuliah.id %}">{{ mataKuliah.nama_matkul }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Tidak ada mata kuliah yang diambil.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}