body {
  font-family: sans-serif;
}

header {
  padding: 0px;
}

.navbar {
  border: none;
  padding: 0 10px;
  background-color: #f7d126;
}

.navbar div.container {
  min-height: max-content;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #f50000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fbea9d;
  background-color: #f50000;
}

.navbar-inverse .navbar-nav > .active {
  background-color: #f50000;
}

.navbar-nav > li {
  padding: 20px;
  font-size: 1.15rem;
}

ul.navbar.navbar-nav li {
  min-height: fit-content;
}

.navbar-brand {
  margin-right: 25px;
  font-size: 1.75rem;
}

footer p {
  font-size: 1.25rem;
}

.user_card {
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  background: #f7d126;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 25px;
}

.form_container {
  margin-top: 20px;
}

#form-title {
  color: #f50000;
}

.login_btn {
  width: 100%;
  background: #f50000 !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #f50000 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}

span.input-group-text {
  min-width: 35px;
}

.input-group {
  justify-content: center;
}

.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}

.user_card input {
  padding: 5px;
  min-width: 200px;
}

.user_card a {
  color: #f50000;
}

#messages {
  background-color: #fbea9d;
  color: #f50000;
  font-size: 1rem !important;
  padding: 10px;
  margin-top: 10px;
}
