header {
  padding: 0px;
}

.navbar {
  border: none;
  padding: 0 10px;
  background-color: #f7d126;
}

.navbar div.container {
  min-height: max-content;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #f50000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #fbea9d;
  background-color: #f50000;
}

.navbar-inverse .navbar-nav > .active {
  background-color: #f50000;
}

.navbar-nav > li {
  padding: 20px;
  font-size: 1.15rem;
}

ul.navbar.navbar-nav li {
  min-height: fit-content;
}

.navbar-brand {
  margin-right: 25px;
  font-size: 1.75rem;
}

.content {
  font-size: 1.3rem;
}

#keyword {
  width: 50%;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 6px 10px;
}

#keyword:focus {
  border-color: #000000;
  outline: none;
}

.table td,
.table th {
  vertical-align: middle;
  padding: 0.8rem 1rem;
}

.table th {
  background-color: #f7d126;
  color: #f50000;
  text-align: center;
  padding: 1.2rem 1rem;
}

tr:nth-child(even) {
  background-color: #ffeea1;
}

tr:nth-child(odd) {
  background-color: #ffe884;
}

tr:hover {
  background-color: #fff3bd;
}

.table {
  border: 1px solid#f7d126;
  border-radius: 10px;
}
